.TrelloActionButton {
    width: 95%;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
    height: 32px;
    padding-left: 15px;
    background-color: rgba(10, 10, 10, .15);
}