@import '../../assets/sass/colors.scss';
.TrelloActionButton {
    margin-top: 10px;
    width: 286px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
    height: 32px;
    padding-left: 15px;
    background-color: rgba(10, 10, 10, .15);
}

.CardAction {
    .CardAdd {
        margin-top: 10px;
        overflow: hidden;
        min-height: 64px;
        min-width: 286px;
        padding: 0.4em;
        .TextAreaAdd {
            resize: none;
            width: 100%;
            outline: none;
            border: none;
        }
    }
    .CardButton {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .CardButton button {
        width: 80%;
        margin-top: 0.8em;
        color: white;
        text-shadow: 2px 2px 1px rgba(100, 100, 100, 0.5);
        background-color: $ligth;
    }
    .CardButton button:hover {
        transition: background-color 0.5s ease;
        text-shadow: 2px 2px 1px rgba(100, 100, 100, 0.5);
        background-color: $medium;
    }
    .CardButton #iconCancel {
        padding-left: 0.5em;
        padding-top: 0.8em;
    }
}