@import '../../assets/sass/colors.scss';
.trelloList {
    margin: 10px;
    background-color: $solid;
    width: 300px;
    border-radius: 0.5em;
    padding: 0.8em;
    height: 100%;
    h4 {
        text-transform: uppercase;
        color: $ligth;
        padding: 5px;
        border-bottom: medium solid $ligth;
    }
}